{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block content %}

{% if cycle.is_paid %}
<h2>{% trans "Billing cycle is paid" %}</h2>
{% endif %}

<p>{% trans "Billing Cycle" %} {{ cycle }} ({{ cycle.sum }} EUR), {% trans "for membership" %}
  <a href="{% url "membership_edit" cycle.membership.id %}">{{ cycle.membership }} {{cycle.membership.id }}</a>.</p>

<form method="POST">{% csrf_token %}
{{ form.as_p }}
<p>
  <input id="submit_button" type="submit" value="{% trans "Connect" %}" />
</p>

</form>
{% endblock %}
