{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "membership/paginating_snippet.html" %}

<ul id="billlist">
  {% for bill in bill_list %}
  <li class="list_item" {% if bill.is_due %}style="color: red"{% endif %}>
    <span class="name">{{ bill.billingcycle.membership }}</span>
    <span class="cycle"><a href="{% url billingcycle_edit bill.billingcycle.id %}">{{ bill.billingcycle }}</a></span>
    <span class="sum">{{ bill.billingcycle.sum }} {% trans "euros" %}, {% trans "sent on" %} {{ bill.created|date:"d.n. H:i" }}</span>
    <span class="due">
      {% if bill.is_due %}<a style="color:red; text-weigt: bold" href="{% url bill_edit bill.id %}">{{ bill.due_date|date:"d.n. H:i" }}</a>
      {% else %}<a href="{% url bill_edit bill.id %}">{{ bill.due_date|date:"d.n. H:i" }}</a>
      {% endif %}
    </span>
    <span class="paid">
      {% if bill.billingcycle.is_paid %} {% trans "paid" %} {% endif %}
    </span>
    <ul>{% for payment in bill.payment_set.all %}<li>{{ payment }}</li>{% endfor %}</ul>
  </li>
  {% empty %}
  {% trans "No bill matches this filter, try seeing the full list." %}
  {% endfor %}
</ul>

{% include "membership/paginating_snippet.html" %}
{% endblock %}
