{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p>
  Kapsilla on kolmenlaisia jäseniä: yksityis-, yhteisö- ja kannatusjäseniä.
  Käytännössä suurin ero varsinaisten ja yhteisöjäsenten välillä on palvelun
  joustavuus.  Varsinainen jäsen on rajoitettu yhteen käyttäjätunnukseen (ja
  samalla käyttäjään), kun taas yhteisöjäsenelle voidaan perustellusta syystä
  myöntää useampi käyttäjätunnus.
</p>

<h3>Yksityisjäsenet</h3>
<p>
  Yhdistykseen varsinaiseksi jäseneksi eli yksityisjäseneksi voidaan hyväksyä
  henkilö, joka hyväksyy yhdistyksen tarkoituksen.</p>
<p>
  <a href="{% url "person_application" %}">Yksityisjäsenen
  hakemuslomakkeeseen</a>
</p>

<h3>Yhteisöjäsenet</h3>
<p>
  Yhteisöjäseneksi voidaan hyväksyä voittoa tavoittelematon oikeuskelpoinen
  yhteisö, joka hyväksyy yhdistyksen tarkoituksen.</p>
<p>
  <a href="{% url "organization_application" %}">Yhteisöjäsenen
  hakemuslomakkeeseen</a>
</p>

<h3>Kannatusjäsenet</h3>
<p>
  Kannatusjäseneksi voidaan hyväksyä yksityinen henkilö tai oikeuskelpoinen
  yhteisö tai yritys, joka haluaa tukea yhdistyksen tarkoitusta ja toimintaa.
</p>
<p>
  <a href="{% url "supporting_organization_application" %}">Yhteisökannatusjäsenen hakemuslomakkeeseen</a>
</p>
<p>
  <a href="{% url "supporting_person_application" %}">Henkilökannatusjäsenen hakemuslomakkeeseen</a>
</p>

{% endblock %}
