{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p>
  Kapsilla on kahdenlaisia jäseniä: yksityisjäseniä ja yhteisöjäseniä.
  Käytännössä suurin ero näiden kahden jäsentyypin välillä on palvelun
  joustavuus.  Yksityisjäsen on rajoitettu yhteen käyttäjätunnukseen (ja
  samalla käyttäjään), kun taas yhteisöjäsenelle voidaan perustellusta syystä
  myöntää useampi käyttäjätunnus.
</p>

<p>
  <a href="{% url person_application %}">Henkilöjäsenen
  hakemuslomakkeeseen</a>
</p>

<p>
  <a href="{% url organization_application %}">Yhteisöjäsenen
  hakemuslomakkeeseen</a>
</p>
{% endblock %}
