{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block content %}
<form method="POST">{% csrf_token %}
<div id="contact_edit">
{{ form.as_p }}
<p>
  <label for="submit_button"></label>
  <input id="submit_button" type="submit" value="{% trans "Save contact changes" %}" />
</p>
</div>
</form>
<hr />
<table class="event_log">
{% for logentry in logentries %}
  <tr>
    <td>{{ logentry.action_time }}</td>
    <td>{{ logentry.action_flag_str}}</td>
    <td>{{ logentry.user }}</td>
    <td>{{ logentry.change_message }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
