{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block content %}
{% if cycle %}
<h2>{% trans "Billing cycle for member" %} {{ cycle.membership }}, {{ cycle }}</h2>
{% endif %}

{% if bill %}
<h2>{% trans "Bill for member" %} {{ bill.billingcycle.membership }}, {{ bill.billingcycle }}</h2>
{% endif %}

<form method="POST">{% csrf_token %}
<div id="entity_edit">
  {{ form.as_p }}
  <p>
    <label for="submit_button"></label>
    <input id="submit_button" type="submit" value="{% trans "Save changes" %}" />
  </p>
</div>
</form>
<hr />

{% if logentries %}
<h2>{% trans "Event log" %}</h2>
{% endif %}
<table class="event_log">
{% for logentry in logentries %}
  <tr>
    <td>{{ logentry.action_time|date:"d.n.Y H:i" }}</td>
    <td>{{ logentry.action_flag_str}}</td>
    <td>{{ logentry.user }}</td>
    <td>{{ logentry.change_message }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
