{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load comments %}

{% block content %}
{% if memberid != None and not bill and not payment %}
<a href="{% url membership_edit memberid %}">{% trans "Back to member overview" %}</a>
<hr />
{% endif %}
{% if cycle %}
<h2>{% trans "Billing cycle for member" %} <a href="{% url membership_edit cycle.membership.id %}">{{ cycle.membership }}</a>,
  {{ cycle }}, {{ cycle.sum }} EUR</h2>
<ul>
    {% for bill in cycle.bill_set.all %}
    <li><a href="{% url bill_edit bill.id %}"
      >{% if bill.is_reminder %}{% trans "Reminder" %} {{bill.id}} ({{bill.reminder_count}}){% else %}{% trans "Bill" %} {{bill.id}}{% endif %}</a>
     {% trans "sent" %} {{ bill.created|naturalday }},
     {% trans "due on" %} {{ bill.due_date|naturalday }}
     ({% if cycle.is_paid %}{% trans "paid" %}{% else %}{% trans "not paid" %}{% endif %})
    </li>
    {% endfor %}

    {% for payment in cycle.payment_set.all %}
    <li><a href="{% url payment_edit payment.id %}">{% trans "Payment" %}</a> {% trans "paid on" %}
        {{ payment.payment_day|naturalday }}
        ({{payment.amount}} &euro;,
        <small>{{payment.reference_number}}</small>)
		{% if payment.comment %} - {{ payment.comment }}{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if bill %}
<h2>{% trans "Bill for member" %} <a href="{% url membership_edit bill.billingcycle.membership.id %}">{{ bill.billingcycle.membership }}</a>,
   <a href="{% url billingcycle_edit bill.billingcycle.id %}">{{ bill.billingcycle }}</a> ({{bill.billingcycle.sum}} EUR)</h2>
{% endif %}

{% if payment %}
<h2>{% trans "Payer" %} {{ payment.payer_name }}</h2>
{% if payment.billingcycle %}
<p>{% trans "Payment assigned to" %} <a href="{% url membership_edit payment.billingcycle.membership.id %}">{{ payment.billingcycle.membership.id }} {{ payment.billingcycle.membership }}</a> {{ payment.billingcycle }}</p>
{% endif %}
{% endif %}

<form method="POST">{% csrf_token %}
<div id="entity_edit">
  {{ form.as_p }}
  <p>
    <label for="submit_button"></label>
    <input id="submit_button" type="submit" value="{% trans "Save changes" %}" />
  </p>
</div>
</form>
<hr />

{% if payment and perms.membership.manage_bills %}
{% if not payment.billingcycle and payment.comment = 'duplikaattimaksu' %}
<h2>Actions</h2>
<a href="{% url payment_send_duplicate_notification payment.id %}">{% trans "Send duplicate payment notice" %}</a>
{% endif %}
{% endif %}
{% if cycle and perms.membership.manage_bills %}
{% if not cycle.is_paid or not cycle.amount_paid %}
<h2>Actions</h2>
<a href="{% url billingcycle_connect_payment cycle.id %}">{% trans "Assign a payment to this billing cycle" %}</a>
{% endif %}
{% endif %}

{% if payment and payment.billingcycle and perms.membership.manage_bills %}
<h2>Actions</h2>
{% trans "Unassign this payment from the current billing cycle" %}	
{% endif %}

{% if logentries %}
<h2>{% trans "Event log" %}</h2>
{% endif %}
<table class="event_log">
{% for logentry in logentries %}
  <tr>
    <td>{{ logentry.action_time|date:"j.n.Y H:i" }}</td>
    <td>{{ logentry.action_flag_str}}</td>
    <td>{{ logentry.user }}</td>
    <td>{{ logentry.change_message }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
