{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if import_messages %}
<p>
  {% for msg in import_messages %}
  {{ msg.2 }}
  {% if msg.0 %}<a href="{% url billingcycle_edit msg.0 %}">{% trans "Cycle" %}</a>{% endif %}
  {% if msg.1 %}<a href="{% url payment_edit msg.1 %}">{% trans "Payment" %}</a>{% endif %}
  <br />
  {% endfor %}
</p>
{% endif %}
<p>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans "Import payments" %}" />
</form>
</p>

{% endblock %}
