{% load i18n %}

{% include "membership/paginating_snippet.html" %}
<ul id="member_list">
	<li class="list_header">
		<span class="sum">{% trans "id" %} <a href="?page={{ page }}&sort=id">&#9660;</a><a href="?page={{ page }}&sort=-id">&#9650;</a></span>
		<span class="name">{% trans "Member" %} <a href="?page={{ page }}&sort=name">A</a> <a href="?page={{ page }}&sort=-name">Z</a></span>
		<span class="name">{% trans "Status" %} <a href="?page={{ page }}&sort=status">&#9660;</a> <a href="?page={{ page }}&sort=-status">&#9650;</a></span>
	</li>
{% for member in member_list %}
  {% if member.status == "N" %}
    <li class="preapprovable" id="{{ member.id }}">
  {% else %}
    <li id="{{ member.id }}">
  {% endif %}
      <span class="name"><a href="{% url membership_edit member.id %}">{{ member }}</a></span>
      <span class="status">{{ member.get_status_display }}</span>
    </li>
{% empty %}
{% trans "No membership matches this filter, try seeing the full list" %}
{% endfor %}
</ul>
{% include "membership/paginating_snippet.html" %}
