{% extends "base.html" %}
{% load i18n %}
{% load sorturl %}
{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/membership/static/js/member_list.js"></script>
{% endblock %}

{% block content %}
{% if header %}<h2>{{ header }}</h2>{% endif %}
{% include "membership/paginating_snippet.html" %}
<ul id="memberlist">
	<li class="list_header">
		<span class="member_id">
			<a href="{% sorturl "id" %}">
			{% trans "id"|capfirst %}</a>
		</span>
		<span class="name">
				<a href="{% sorturl "name" %}">{% trans "Member"|capfirst %}</a>
		</span>
	</li>
{% for member in member_list %}
  {% if member.status == "N" %}
	<li class="list_item preapprovable{% if not disable_duplicates_header %}{% if member.duplicates %} duplicate{% endif %}{% endif %}" id="{{ member.id }}">
  {% else %}
  {% if member.status == "P" %}
    <li class="list_item approvable" id="{{ member.id }}">
  {% else %}
    <li class="list_item" id="{{ member.id }}">
  {% endif %}
  {% endif %}
    {% if member.status == "N" %}
      <span class="date">{{ member.created|date:"j.n.Y H:i" }}</span>
    {% else %}
      <span class="member_id">#{{ member.id }}</span>
    {% endif %}
    {% if member.status != "D" %}
      <span class="name"><a href="{% url membership_edit member.id %}">{{ member.name }}</a></span>
    {% else %}
      <span class="name"><a href="{% url membership_edit member.id %}">{% trans "&lt; membership deleted &gt;" %}</a></span>
    {% endif %}
    {% if member.comment %}
      <span class="comment">{{ member.comment }}</span>
    {% endif %}
	{% if member.status == "N" %}
		{% if not disable_duplicates_header %}
		{% if member.duplicates %}
			<a href="{% url membership_duplicates member.id %}">{% trans "show possible duplicates" %}</a>
		{% endif %}
		{% endif %}
	{% endif %}
    </li>

{% empty %}
{% trans "No membership matches this filter, try seeing the full list" %}
{% endfor %}
</ul>
{% include "membership/paginating_snippet.html" %}

<script type="text/javascript">
/**
 * Saves preapprove-cart contents. (Preapproves selected members that are in
 * state "New".)
 */
function preapprove () {
  var ids = [];
  $("#preapprovable_cart").children().each(function (idx, object) {
    var id = $(object).attr("id");
    ids.push(id);
  });
  for (var idx in ids) {
    var id = ids[idx];
    // foo, here?
  }
  for (var idx in ids) {
    var id = ids[idx];
    jQuery.post("../handle_json/", '{"requestType": "PREAPPROVE", "payload": ' + id + '}', function (data) { $("#" + data).remove()});
  }
}

function approve () {
  var ids = [];
  $("#approvable_cart").children().each(function (idx, object) {
    var id = $(object).attr("id");
    ids.push(id);
  });
  for (var idx in ids) {
    var id = ids[idx];
    // foo, here?
  }
  for (var idx in ids) {
    var id = ids[idx];
    jQuery.post("../handle_json/", '{"requestType": "APPROVE", "payload": ' + id + '}', function (data) { $("#" + data).remove()});
  }
}

/**
 * Adds details to member list items. Also adds a preapprove cart and buttons
 * if the class preapprovable is found from the list item.
 */
var preApproveCartCreated = false;
var approveCartCreated = false;
$("#memberlist").children().each(function (idx, object) {
  var item = enhanceMemberItem($(object));
  if ($(object).hasClass("list_header")) {
	return;
  }
  addMemberDetails(item);

  if ($(object).hasClass("preapprovable")) {
    if (!preApproveCartCreated) {
      var cart = $("<div>").addClass("cart");
      cart.append($("<h3>").html("{% trans "Pre-approve cart" %}"));
      cart.append($("<ul>").attr("id", "preapprovable_cart"));
      cart.append($("<input type=\"submit\" value=\"{% trans "Preapprove these" %}\" onclick=\"preapprove()\">"));
      $("#memberlist").after(cart);
      preApproveCartCreated = true;
    }
    preapproveify(item);
  }

  if ($(object).hasClass("approvable")) {
    if (!approveCartCreated) {
      var cart = $("<div>").addClass("cart");
      cart.append($("<h3>").html("{% trans "Approve cart" %}"));
      cart.append($("<ul>").attr("id", "approvable_cart"));
      cart.append($("<input type=\"submit\" value=\"{% trans "Approve these" %}\" onclick=\"approve()\">"));
      $("#memberlist").after(cart);
      approveCartCreated = true;
    }
    approveify(item);
  }

});

</script>
{% endblock %}
