{% load i18n %}
{% load humanize %}
{% load comments %}

<form method="POST">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<ul>{% for billingcycle in membership.billingcycle_set.all %}
    <li>{% trans "Cycle" %} {{ billingcycle.start|naturalday }}&mdash;{{ billingcycle.end|naturalday }}
        <ul>{% for bill in billingcycle.bill_set.all %}
            <li>{% trans "Bill sent" %} {{ bill.created|naturalday }}, {% trans "due on" %} {{ bill.due_date|naturalday }} ({% if bill.is_paid %}{% trans "paid" %}{% else %}{% trans "not paid" %}{% endif %})</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% for logentry in membership.logs.all %}
<p>{{ logentry.action_time }} {{ logentry.user }} {{ logentry.action_flag }}: {{ logentry.change_message }}</p>
{% endfor %}


<h2>{% trans "Comments for management" %}</h2>
{% get_comment_list for membership as comment_list %}
{% for comment in comment_list %}
    <p>{{ comment }}</p>
{% endfor %}

{% get_comment_form for membership as commentform %}
<form action="{% comment_form_target %}" method="POST">
    {% comment %}
    The comments app is normally used on public websites, so it includes
    several ways to combat spam. For example we need the following four hidden fields.
    {% endcomment %}

    {{ commentform.comment }}
    {{ commentform.content_type }}
    {{ commentform.object_pk }}
    {{ commentform.timestamp }}

    {{ commentform.security_hash }}
    <input type="hidden" name="next" value="{% url membership_edit membership.id %}" />
    <tr>
        <td></td>
        <td><input type="submit" class="submit-post" value="Post"></td>
    </tr>
</form>
