{% load i18n %}

{% include "membership/paginating_snippet.html" %}
<ul id="member_list">
	<li class="list_header">
		<span class="sum"><a href="{% sorturl "id" %}">{% trans "id" %}</a></span>
		<span class="name"><a href="{% sorturl "name" %}">{% trans "Member" %}</a></span>
		<span class="name"><a href="{% sorturl "status" %}">{% trans "Status" %}</a></span>
	</li>
{% for member in member_list %}
  {% if member.status == "N" %}
    <li class="preapprovable" id="{{ member.id }}">
  {% else %}
    <li id="{{ member.id }}">
  {% endif %}
      <span class="name"><a href="{% url "membership_edit" member.id %}">{{ member }}</a></span>
      <span class="status">{{ member.get_status_display }}</span>
    </li>
{% empty %}
{% trans "No membership matches this filter, try seeing the full list" %}
{% endfor %}
</ul>
{% include "membership/paginating_snippet.html" %}
