{% load i18n %}
{% load humanize %}
{% load comments %}
{% load reference_number %}

{% if membership.person %}
<a href="{% url contact_edit membership.person.id %}">{% trans "Edit person contact" %} ({{ membership.person }})</a><br />
{% endif %}
{% if membership.billing_contact %}
<a href="{% url contact_edit membership.billing_contact.id %}">{% trans "Edit billing contact" %} ({{ membership.billing_contact }})</a><br />
{% endif %}
{% if membership.tech_contact %}
<a href="{% url contact_edit membership.tech_contact.id %}">{% trans "Edit technical contact" %} ({{ membership.tech_contact }})</a><br />
{% endif %}
{% if membership.organization %}
<a href="{% url contact_edit membership.organization.id %}">{% trans "Edit organization contact" %} ({{ membership.organization }})</a><br />
{% endif %}
<hr />

<form method="POST">{% csrf_token %}
<div id="entity_edit">
{{ form.as_p }}{% if perms.membership.manage_members %}
  <p>
    <label for="submit_button"></label>
    <input id="submit_button" type="submit" value="{% trans "Save membership changes" %}" />
  </p>{% endif %}
</div>
</form>

<hr />

<h2>{% trans "Actions" %}</h2>
{% if membership.status != "D" %}
<a href="{% url services.views.alias_add_for_member membership.id %}">{% trans "Add an alias" %}</a>
<a href="{% url membership_delete membership.id %}">{% trans "Delete" %}</a>
{% if not membership.organization %}<a href="{% url membership_convert_to_organization membership.id %}">{% trans "Convert to an organization" %}</a>{% endif %}
{% endif %}

<h2>{% trans "Aliases" %}</h2>
<ul>{% for alias in membership.alias_set.all %}
    <li>
    {% if alias.is_valid %}
    <a href="{% url alias_edit alias.id %}">{{ alias.name }}</a>
    {% else %}
    <s><a href="{% url alias_edit alias.id %}">{{ alias.name }}</a></s>
    {% endif %}
    <span class="comment">{{ alias.comment }}</span>
    <span class="expiration_date">{{alias.expiration_date|date:"j.n.Y"}}</span>
    </li>
    {% endfor %}
</ul>

<h2>{% trans "Services" %}</h2>
<ul>{% for service in membership.service_set.all %}
    <li>{{ service }}</li>
    {% endfor %}
</ul>

<h2>{% trans "Billing information" %}</h2>
<ul>{% for billingcycle in membership.billingcycle_set.all %}
    <li><a href="{% url billingcycle_edit billingcycle.id%}">{% trans "Cycle" %} {{ billingcycle.start|naturalday }}&mdash;{{ billingcycle.end|naturalday }}</a>
        <ul>
            {% for bill in billingcycle.bill_set.all %}
            <li>
	      <a href="{% url bill_edit bill.id %}">
		{% if bill.is_reminder %}{% trans "Reminder" %} {{bill.id}} ({{bill.reminder_count}})
		{% else %}{% trans "Bill" %} {{bill.id}}{% endif %}
	      </a> [{{bill.reference_number|fref:"0"}}]
              {% trans "sent" %} {{ bill.created|naturalday }},
              {% trans "due on" %} {{ bill.due_date|naturalday }}
              ({% if billingcycle.is_paid %}{% trans "paid" %}{% else %}{% trans "not paid" %}{% endif %})
              <small><a href="https://tuki.kapsi.fi/otrs/index.pl?Action=AgentTicketSearch&amp;Subaction=Search&amp;Subject=maksulasku+{{bill.id}}" target="_blank">OTRS</a></small>
            </li>
            {% endfor %}

            {% for payment in billingcycle.payment_set.all %}
            <li><a href="{% url payment_edit payment.id %}">
		{% trans "Payment" %}</a>
	      {% trans "paid on" %}
              {{ payment.payment_day|naturalday }}
              ({{payment.amount}} &euro;,
              <small>{{payment.reference_number|fref:"0"}}</small>)
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<h2>{% trans "Event log" %}</h2>
<table class="event_log">
  <tr class="header_row">
    <td>{% trans "Time" %}</td>
    <td>{% trans "Event type" %}</td>
    <td>{% trans "User" %}</td>
    <td>{% trans "Summary" %}</td>
  </tr>
{% for logentry in logentries %}
  <tr>
    <td>{{ logentry.action_time|date:"j.n.Y H:i" }}</td>
    <td>{{ logentry.action_flag_str}}</td>
    <td>{{ logentry.user }}</td>
    <td>{{ logentry.change_message }}</td>
  </tr>
{% endfor %}
</table>


<h2>{% trans "Comments" %}</h2>
{% get_comment_list for membership as comment_list %}
{% for comment in comment_list %}
    <p>{{ comment.submit_date|date:"j.n.Y" }} {{ comment }}</p>
{% endfor %}

{% get_comment_form for membership as commentform %}
<form action="{% comment_form_target %}" method="POST">{% csrf_token %}
    {% comment %}
    The comments app is normally used on public websites, so it includes
    several ways to combat spam. For example we need the following four hidden fields.
    {% endcomment %}

    {{ commentform.comment }}
    {{ commentform.content_type }}
    {{ commentform.object_pk }}
    {{ commentform.timestamp }}

    {{ commentform.security_hash }}
    <input type="hidden" name="next" value="{% url membership_edit membership.id %}" />
    <tr>
        <td></td>
        <td><input type="submit" class="submit-post" value="{% trans "Comment on membership" %}"></td>
    </tr>
</form>
