{% load i18n %}
{% load humanize %}

<form method="POST">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<ul>{% for billingcycle in membership.billingcycle_set.all %}
    <li>{% trans "Cycle" %} {{ billingcycle.start|naturalday }}&mdash;{{ billingcycle.end|naturalday }}
        <ul>{% for bill in billingcycle.bill_set.all %}
            <li>{% trans "Bill sent" %} {{ bill.created|naturalday }}, {% trans "due on" %} {{ bill.due_date|naturalday }} ({% if bill.is_paid %}{% trans "paid" %}{% else %}{% trans "not paid" %}{% endif %})</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
