{% load i18n %}

{% include "membership/paginating_snippet.html" %}
<ul id="member_list">
{% for member in member_list %}
  {% if member.status == "N" %}
    <li class="preapprovable" id="{{ member.id }}">
  {% else %}
    <li id="{{ member.id }}">
  {% endif %}
      <span class="name"><a href="{% url membership_edit member.id %}">{{ member }}</a></span>
      <span class="status">{{ member.get_status_display }}</span>
    </li>
{% empty %}
{% trans "No membership matches this filter, try seeing the full list" %}
{% endfor %}
</ul>
{% include "membership/paginating_snippet.html" %}
