{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block content %}
<p>
  {% trans "Deleting membership" %} <strong>{{ membership }} ({{ membership.id }})</strong>.
</p>
<p>
  {% trans "This action is irreversible and data will be lost!" %}
</p>
<form method="POST">{% csrf_token %}
{{ form.as_p }}
{% if not membership.dissociated %}
<p>
  <strong>{% trans "Member has not been dissociated. Are you want to delete them?" %}</strong>
</p>
{% endif %}<p>
  <input id="submit_button" type="submit" value="{% trans "Delete member" %}" />
</p>

</form>
{% endblock %}
