{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{{ contact_type }}</h2>
<p>Osa 2/3.</p>
<p>Jos jätät lomakkeen tyhjäksi, olettaa järjestelmä ettet halua tallentaa kyseisenlaista
yhteystietoa.</p>
<form method="POST">{% csrf_token %}
<div id="new_application">
  {{ form.as_p }}
<p>
  <label for="submit_button"></label>
  <input id="submit_button" type="submit" value="{% trans "Save contact or skip to next stage" %}" />
</p>
</div>
</form>

<script type="text/javascript">
// Auto-populate SMS number
$("#id_phone").focusout(function() {
  if ($("#id_sms").val().length == 0) {
    $("#id_sms").val($("#id_phone").val());
  }
});

// Auto-populate given names
$("#id_first_name").focusout(function() {
  if ($("#id_given_names").val().length == 0) {
    $("#id_given_names").val($("#id_first_name").val());
  }
});
</script>
{% endblock %}
