{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Organization member's application form" %}</h2>
<p>Osa 1/6.</p>
<p>
  Voit missä tahansa vaiheessa palata taaksepäin selaimen back-näppäimellä ja
  täyttää lomakkeen uudestaan. Lomake lähetetään vasta kun hyväksyt tiedot
  vaiheessa <em>Tietojen tarkistus</em>.
</p>
<p>
  Hakemus koostuu seuraavista vaiheista. Olet nyt ensimmäisessä vaiheessa.
</p>
<ol>
  <li><strong>Järjestön yleistiedot</strong></li>
  <li>Hallintoyhteystieto</li>
  <li>Laskutusyhteystieto</li>
  <li>Tekninen yhteystieto</li>
  <li>Liittymisvaiheessa lisättävien palvelujen valinta</li>
  <li>Tietojen tarkistus</li>
</ol>
<form method="POST">{% csrf_token %}
<div id="new_application">
  {{ form.as_p }}
<p>
  <label for="submit_button"></label>
  <input id="submit_button" type="submit" value="{% trans "Save and continue to next stage" %}" />
</p>
</div>
</form>
{% endblock %}
