{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/membership/static/js/application.js"></script>
{% endblock %}

{% block content %}
<h2>Henkilöjäsenen jäsenhakemus</h2>

<p>
  Tämä on yksityishenkilöille tarkoitettu jäsenhakemuslomake. Yhdistyksen
  verkkosivuilta löytyy <a target="_blank"
  href="http://www.kapsi.fi/asiakirjat/rekisteriseloste.html">jäsenrekisterin
  rekisteriseloste</a>, <a target="_blank"
  href="http://www.kapsi.fi/liityjaseneksi.html">hakemuksen käsittelyajat sekä
  muuta tietoa</a>.
</p>

<form method="POST">{% csrf_token %}
<div id="new_application">
  {{ form.non_field_errors }}
  <fieldset><legend>Henkilötiedot</legend>
  <p{% if form.first_name.errors %} class="error"{% endif %}>
    <label for="id_first_name">{{ form.first_name.label }}</label>
    {{ form.first_name }}{% if form.first_name.help_text %}
    <span class="help">{{ form.first_name.help_text }}</span>{% endif %}
    {% for error in form.first_name.errors %}
    <span class="error{% if form.first_name.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.given_names.errors %} class="error"{% endif %}>
    <label for="id_given_names">{{ form.given_names.label }}</label>
    {{ form.given_names }}{% if form.given_names.help_text %}
    <span class="help">{{ form.given_names.help_text }}</span>{% endif %}
    {% for error in form.given_names.errors %}
    <span class="error{% if form.given_names.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.last_name.errors %} class="error"{% endif %}>
    <label for="id_last_name">{{ form.last_name.label }}</label>
    {{ form.last_name }}{% if form.last_name.help_text %}
    <span class="help">{{ form.last_name.help_text }}</span>{% endif %}
    {% for error in form.last_name.errors %}
    <span class="error{% if form.last_name.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.nationality.errors %} class="error"{% endif %}>
    <label for="id_nationality">{{ form.nationality.label }}</label>
    {{ form.nationality }}{% if form.nationality.help_text %}
    <span class="help">{{ form.nationality.help_text }}</span>{% endif %}
    {% for error in form.nationality.errors %}
    <span class="error{% if form.nationality.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.municipality.errors %} class="error"{% endif %}>
    <label for="id_municipality">{{ form.municipality.label }}</label>
    {{ form.municipality }}
    <span class="help">{{ form.municipality.help_text }}</span>
    {% for error in form.municipality.errors %}
    <span class="error{% if form.municipality.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>
  <fieldset><legend>Postiosoite</legend>
  <p{% if form.street_address.errors %} class="error"{% endif %}>
    <label for="id_street_address">{{ form.street_address.label }}</label>
    {{ form.street_address }}{% if form.street_address.help_text %}
    <span class="help">{{ form.street_address.help_text }}</span>{% endif %}
    {% for error in form.street_address.errors %}
    <span class="error{% if form.street_address.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.postal_code.errors %} class="error"{% endif %}>
    <label for="id_postal_code">{{ form.postal_code.label }}</label>
    {{ form.postal_code }}{% if form.postal_code.help_text %}
    <span class="help">{{ form.postal_code.help_text }}</span>{% endif %}
    {% for error in form.postal_code.errors %}
    <span class="error{% if form.postal_code.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.post_office.errors %} class="error"{% endif %}>
    <label for="id_post_office">{{ form.post_office.label }}</label>
    {{ form.post_office }}{% if form.post_office.help_text %}
    <span class="help">{{ form.post_office.help_text }}</span>{% endif %}
    {% for error in form.post_office.errors %}
    <span class="error{% if form.post_office.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.country.errors %} class="error"{% endif %}>
    <label for="id_country">{{ form.country.label }}</label>
    {{ form.country }}{% if form.country.help_text %}
    <span class="help">{{ form.country.help_text }}</span>{% endif %}
    {% for error in form.country.errors %}
    <span class="error{% if form.country.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>

  <fieldset><legend>Muut yhteystiedot</legend>
  <p{% if form.phone.errors %} class="error"{% endif %}>
    <label for="id_phone">{{ form.phone.label }}</label>
    {{ form.phone }}{% if form.phone.help_text %}
    <span class="help">{{ form.phone.help_text }}</span>{% endif %}
    {% for error in form.phone.errors %}
    <span class="error{% if form.phone.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.sms.errors %} class="error"{% endif %}>
    <label for="id_sms">{{ form.sms.label }}</label>
    {{ form.sms }} <span class="help">{{ form.sms.help_text }}</span>
    {% for error in form.sms.errors %}
    <span class="error{% if form.sms.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.email.errors %} class="error"{% endif %}>
    <label for="id_email">{{ form.email.label }}</label>
    {{ form.email }}{% if form.email.help_text %}
    <span class="help">{{ form.email.help_text }}</span>{% endif %}
    {% for error in form.email.errors %}
    <span class="error{% if form.email.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.homepage.errors %} class="error"{% endif %}>
    <label for="id_homepage">{{ form.homepage.label }}</label>
    {{ form.homepage }}{% if form.homepage.help_text %}
    <span class="help">{{ form.homepage.help_text }}</span>{% endif %}
    {% for error in form.homepage.errors %}
    <span class="error{% if form.homepage.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>

  <fieldset class="wide"><legend>Käyttäjätunnus</legend>
    <p>
      <label for="id_unix_login">{{ form.unix_login.label }}</label>
      {{ form.unix_login }}{% if form.unix_login.help_text %}
      <span class="help">{{ form.unix_login.help_text }}</span>{% endif %}
      {% for error in form.unix_login.errors %}
      <span class="error{% if form.unix_login.help_text %} newline{% endif %}">{{ error }}</span>
      {% endfor %}
    </p>
  </fieldset>
  

  <fieldset class="wide"><legend>Sähköpostiohjaus</legend>
  <p class="introduction">
    Tässä kohdassa voit valita käyttöösi sähköpostiohjauksen, jolla saat
    käyttöösi ohjaus@kapsi.fi-osoitteen.  Jos haluamaasi ohjausta ei löydy
    listasta, voi olla että se on jo varattu tai sivu ei sitä vain osannut
    luoda.  Voit pyytää ohjauksen myös myöhemmin.  Valitse käytettävä
    sähköpostiohjaus allaolevasta listasta.
  </p>
  <p>
    <select name="email_forward" id="email_forwards">
      <option value="no">{% trans "No e-mail forward" %}</option>
    </select>
  </p>
  </fieldset>

  <fieldset class="wide"><legend>Palvelut</legend>
    <p class="checkbox{% if form.mysql_database.errors %} error{% endif %}">
      {{ form.mysql_database }}
      <label for="id_mysql_database">{{ form.mysql_database.label }}</label>
      <span class="help">{{ form.mysql_database.help_text }}</span>
      {% for error in form.mysql_database.errors %}
      <span class="error{% if form.mysql_database.help_text%} newline{% endif %}">{{ error }}</span>
      {% endfor %}
    </p>
    <p class="checkbox{% if form.postgresql_database.errors %} error{% endif %}">
      {{ form.postgresql_database }}
      <label for="id_postgresql_database">{{ form.postgresql_database.label }}</label>
      <span class="help">{{ form.postgresql_database.help_text }}</span>
      {% for error in form.postgresql_database.errors %}
      <span class="error{% if form.postgresql_database.help_text%} newline{% endif %}">{{ error }}</span>
      {% endfor %}
    </p>
    <p class="checkbox{% if form.login_vhost.errors %} error{% endif %}">
      {{ form.login_vhost }}
      <label for="id_login_vhost">{{ form.login_vhost.label }}</label>
      <span class="help">{{ form.login_vhost.help_text }}</span>
      {% for error in form.login_vhost.errors %}
      <span class="error{% if form.login_vhost.help_text%} newline{% endif %}">{{ error }}</span>
      {% endfor %}
    </p>
  </fieldset>

  <fieldset class="wide"><legend>Tietojen julkaisu jäsenlistassa</legend>

  <p class="introduction">
    Halutessasi voit syöttää tiedot, jotka näytetään yhdistyksen verkkosivujen <a target="_blank"
    href="http://www.kapsi.fi/yhdistys/jasenlista.html">jäsenlistassa</a>. Tietojen julkaisu on
    vapaaehtoista.
  </p>

  <p class="checkbox{% if form.public_memberlist.errors %} error{% endif %}">
    {{ form.public_memberlist }}
    <label for="id_public_memberlist">{{ form.public_memberlist.label }}</label>
    <span class="help">{{ form.public_memberlist.help_text }}</span>
    {% for error in form.public_memberlist.errors %}
    <span class="error{% if form.public_memberlist.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>
  <fieldset class="wide"><legend>Lisätiedot</legend>
  <p>
	<span class="help">{{ form.extra_info.help_text }}</span>
    {{ form.extra_info }}
    {% for error in form.extra_info.errors %}
    <span class="error{% if form.extra_info.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>
  <p>
    <label for="submit_button"></label>
    <input id="submit_button" type="submit" value="{% trans "Send application" %}" />
  </p>
</div>
</form>

<script type="text/javascript">
{% if chosen_email_forward %}
var chosenEmailForward = "{{ chosen_email_forward}}";
{% else %}
var chosenEmailForward = undefined;
{% endif %}

function populateEmailForwards () {
  var permutations = generateEmailForwards($("#id_first_name").val(),
                                           $("#id_given_names").val(),
                                           $("#id_last_name").val());

  $(".application_email_forward").remove();

  $.each(permutations, function (idx, val) {
    aliasAvailable(val, function (availability) {
      if (availability) {
        var opt = $("<option>").text(val);
        opt.attr("value", val);
        opt.addClass("application_email_forward");
        if (val === chosenEmailForward) {
          opt.attr("selected", "selected");
        }
        $("#email_forwards").append(opt);
      }
    });
  });
}

$("#id_last_name").focusout(function() { populateEmailForwards() });
$(document).ready(function() { populateEmailForwards() });

// Auto-populate SMS number
$("#id_phone").focusout(function() {
  if ($("#id_sms").val().length == 0) {
    $("#id_sms").val($("#id_phone").val());
  }
});

// Auto-populate given names
$("#id_first_name").focusout(function() {
  if ($("#id_given_names").val().length == 0) {
    $("#id_given_names").val($("#id_first_name").val());
  }
});
</script>
{% endblock %}
