{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/application.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Henkilökannatusjäsenen jäsenhakemus</h2>

<form method="POST">{% csrf_token %}
<div id="new_application">
  {{ form.non_field_errors }}
  <fieldset><legend>Henkilötiedot</legend>
  <p{% if form.given_names.errors %} class="error"{% endif %}>
    <label for="id_given_names">{{ form.given_names.label }}</label>
    {{ form.given_names }} <span class="required">*</span>{% if form.given_names.help_text %}
    <span class="help"> {{ form.given_names.help_text }}</span>{% endif %}
    {% for error in form.given_names.errors %}
    <span class="error{% if form.given_names.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.first_name.errors %} class="error"{% endif %}>
    <label for="id_first_name">{{ form.first_name.label }}</label>
    {{ form.first_name }} <span class="required">*</span>{% if form.first_name.help_text %}
    <span class="help"> {{ form.first_name.help_text }}</span>{% endif %}
    {% for error in form.first_name.errors %}
    <span class="error{% if form.first_name.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.last_name.errors %} class="error"{% endif %}>
    <label for="id_last_name">{{ form.last_name.label }}</label>
    {{ form.last_name }} <span class="required">*</span>{% if form.last_name.help_text %}
    <span class="help"> {{ form.last_name.help_text }}</span>{% endif %}
    {% for error in form.last_name.errors %}
    <span class="error{% if form.last_name.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.nationality.errors %} class="error"{% endif %}>
    <label for="id_nationality">{{ form.nationality.label }}</label>
    {{ form.nationality }} <span class="required">*</span>{% if form.nationality.help_text %}
    <span class="help"> {{ form.nationality.help_text }}</span>{% endif %}
    {% for error in form.nationality.errors %}
    <span class="error{% if form.nationality.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.municipality.errors %} class="error"{% endif %}>
    <label for="id_municipality">{{ form.municipality.label }}</label>
    {{ form.municipality }} <span class="required">*</span>
    <span class="help">{{ form.municipality.help_text }}</span>
    {% for error in form.municipality.errors %}
    <span class="error{% if form.municipality.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  <p{% if form.birth_year.errors %} class="error"{% endif %}>
    <label for="id_birth_year">{{ form.birth_year.label }}</label>
    {{ form.birth_year }} <span class="required">*</span>
    <span class="help">{{ form.birth_year.help_text }}</span>
    {% for error in form.birth_year.errors %}
    <span class="error{% if form.birth_year.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>
  <fieldset><legend>Postiosoite</legend>
  <p{% if form.street_address.errors %} class="error"{% endif %}>
    <label for="id_street_address">{{ form.street_address.label }}</label>
    {{ form.street_address }} <span class="required">*</span>{% if form.street_address.help_text %}
    <span class="help"> {{ form.street_address.help_text }}</span>{% endif %}
    {% for error in form.street_address.errors %}
    <span class="error{% if form.street_address.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.postal_code.errors %} class="error"{% endif %}>
    <label for="id_postal_code">{{ form.postal_code.label }}</label>
    {{ form.postal_code }} <span class="required">*</span>{% if form.postal_code.help_text %}
    <span class="help"> {{ form.postal_code.help_text }}</span>{% endif %}
    {% for error in form.postal_code.errors %}
    <span class="error{% if form.postal_code.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.post_office.errors %} class="error"{% endif %}>
    <label for="id_post_office">{{ form.post_office.label }}</label>
    {{ form.post_office }} <span class="required">*</span>{% if form.post_office.help_text %}
    <span class="help"> {{ form.post_office.help_text }}</span>{% endif %}
    {% for error in form.post_office.errors %}
    <span class="error{% if form.post_office.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.country.errors %} class="error"{% endif %}>
    <label for="id_country">{{ form.country.label }}</label>
    {{ form.country }} <span class="required">*</span>{% if form.country.help_text %}
    <span class="help"> {{ form.country.help_text }}</span>{% endif %}
    {% for error in form.country.errors %}
    <span class="error{% if form.country.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>

  <fieldset><legend>Muut yhteystiedot</legend>
  <p{% if form.phone.errors %} class="error"{% endif %}>
    <label for="id_phone">{{ form.phone.label }}</label>
    {{ form.phone }} <span class="required">*</span>{% if form.phone.help_text %}
    <span class="help"> {{ form.phone.help_text }}</span>{% endif %}
    {% for error in form.phone.errors %}
    <span class="error{% if form.phone.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

   <p{% if form.sms.errors %} class="error"{% endif %}>
    <label for="id_sms">{{ form.sms.label }}</label>
    {{ form.sms }} <span class="required">*</span>
    <span class="help">
      {{ form.sms.help_text }}
    </span>
    {% for error in form.sms.errors %}
    <span class="error{% if form.sms.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.email.errors %} class="error"{% endif %}>
    <label for="id_email">{{ form.email.label }}</label>
    {{ form.email }} <span class="required">*</span>{% if form.email.help_text %}
    <span class="help"> {{ form.email.help_text }}</span>{% endif %}
    {% for error in form.email.errors %}
    <span class="error{% if form.email.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>

  <fieldset class="wide"><legend>Tietojen julkaisu jäsenlistassa</legend>

  <p class="introduction">
    Halutessasi voit syöttää tiedot, jotka näytetään yhdistyksen verkkosivujen <a target="_blank"
    href="https://www.kapsi.fi/yhdistys/jasenlista.html">jäsenlistassa</a>. Tietojen julkaisu on
    vapaaehtoista.
  </p>

  <p class="checkbox{% if form.public_memberlist.errors %} error{% endif %}">
    {{ form.public_memberlist }}
    <label for="id_public_memberlist">{{ form.public_memberlist.label }}</label>
    <span class="help">{{ form.public_memberlist.help_text }}</span>
    {% for error in form.public_memberlist.errors %}
    <span class="error{% if form.public_memberlist.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  <p{% if form.homepage.errors %} class="error"{% endif %}>
    <label for="id_homepage">{{ form.homepage.label }}</label>
    {{ form.homepage }}{% if form.homepage.help_text %}
    <span class="help">{{ form.homepage.help_text }}</span>{% endif %}
    {% for error in form.homepage.errors %}
    <span class="error{% if form.homepage.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>

  </fieldset>
  <fieldset class="wide"><legend>Lisätiedot</legend>
  <p>
	<span class="help">{{ form.extra_info.help_text }}</span>
    {{ form.extra_info }}
    {% for error in form.extra_info.errors %}
    <span class="error{% if form.extra_info.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
  </p>
  </fieldset>
  <fieldset class="wide">
	{% for error in form.poll.errors %}
		<span class="error">{{ error }}</span>
	{% endfor %}
	<legend>Miten kuulit Kapsista?</legend>
	{% for radio in form.poll %}
		<p> <span class="radio">{{ radio.tag }}</span>{% trans radio.choice_label %}
        </p>
	{% endfor %}
    <input type="text" value="" name="poll_other" id="poll_other" class="form-input">
    {% for error in form.poll_other.errors %}
    <span class="error{% if from.poll_other.help_text %} newline{% endif %}">{{ error }}</span>
    {% endfor %}
	<p>

	</p>
  </fieldset>
  <p>
    <label for="submit_button"></label>
    <input id="submit_button" type="submit" value="{% trans "Send application" %}" />
  </p>
</div>
</form>

<script type="text/javascript">

// Auto-populate given names
$("#id_given_names").focusout(function() {
  if ($("#id_first_name").val().length == 0) {
    firstname = $("#id_given_names").val().split(" ")[0];
    $("#id_first_name").val(firstname);
  }
});

// Auto-populate SMS number
$("#id_phone").focusout(function() {
  if ($("#id_sms").val().length == 0) {
    $("#id_sms").val($("#id_phone").val());
  }
});

</script>

{% endblock %}
