{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p>Hakemus on nyt lähetetty perustiedoin. Jos haluatte määritellä erilaisia
yhteystietoja erilaiselle yhteydenpidolle, voitte määritellä ne alla olevista
linkeistä. Mitään varsinaista tarvetta tälle ei välttämättä ole. Yhteydenotot
tapahtuvat edellisessä tallennettuihin osoitteisiin, mikäli näitä ei erikseen
määritellä. <strong>TÄTÄ SAA VIILATA</strong></p>

<ul>
{% if not membership.person %}
  <li><a href="{% url organization_application_contact_create_update "person" membership.id %}">Lisää hallinnollinen yhteystieto</a></li>
{% else %}
  <li><a href="{% url organization_application_contact_create_update "person" membership.id %}">Muokkaa hallinnollista yhteystietoa</a></li>
{% endif %}
{% if not membership.billing_contact %}
  <li><a href="{% url organization_application_contact_create_update "billing_contact" membership.id %}">Lisää laskutusyhteystieto</a></li>
{% else %}
  <li><a href="{% url organization_application_contact_create_update "billing_contact" membership.id %}">Muokkaa laskutusyhteystietoa</a></li>
{% endif %}
{% if not membership.tech_contact %}
  <li><a href="{% url organization_application_contact_create_update "tech_contact" membership.id %}">Lisää tekninen yhteystieto</a></li>
{% else %}
  <li><a href="{% url organization_application_contact_create_update "tech_contact" membership.id %}">Muokkaa teknistä yhteystietoa</a></li>
{% endif %}
</ul>
<p>Kun olet tyytyväinen yhteystietoihin, voit sulkea selaimen. Hakemuksesi on jo tallennettu.</p>
{% endblock %}
