{% load i18n %}
{% load page %}

{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% page "previous" %}">{% trans "Previous" %}</a>
    {% endif %}

    {% for pagenum in paginator.page_range %}
    {% ifnotequal pagenum page %}
      <a href="{% page pagenum %}">{{ pagenum }}</a>
    {% else %}
      <strong>{{ pagenum }}</strong>
    {% endifnotequal %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% page "next" %}">{% trans "Next" %}</a>
    {% endif %}
  </span>
</div>
{% endif %}
