{% load i18n %}
{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
    {% endif %}

    {% for pagenum in paginator.page_range %}
    {% ifnotequal pagenum page %}
      <a href="?page={{ pagenum }}">{{ pagenum }}</a>
    {% else %}
      <strong>{{ pagenum }}</strong>
    {% endifnotequal %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
    {% endif %}
  </span>
</div>
{% endif %}
