{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Get reminders on pdf format' %}</h2>
{% if output_messages %}
<p>{% for msg in output_messages %}{{ msg }}<br />{% endfor %}</p>
{% endif %}
<p>
<form method="POST">{% csrf_token %}
<input type="submit" value="{% trans "Download reminders pdf" %}" {% if count = 0 %}disabled=disabled{% endif %} />
</form>
</p>
<p>
<form method="POST">{% csrf_token %}
<input type="hidden" name="marksent" value="{% trans "Mark as sent" %}">
<input type="submit" value="{% trans "Mark reminders as sent" %}" {%if count = 0 %}disabled=disabled{% endif %} />
</form>
</p>
<p><a href="{% url "locked_cycle_list" %}">{% trans "List reminders" %}</a> {% trans "count" %}: {{count}}</p>
{% endblock %}
