#infocard {
    background: #E6E9ED;
    border: 1px solid #D8DBDB;
    position: relative;
    max-width: 60em;
    margin-bottom: .3em;
    padding: .1em .5em .2em .5em;
}
#infocard a { cursor: pointer; }

#infocard h2 {margin: .2em 0 0 0; border-bottom: 1px solid #D8DBDB; font-size: 17px}
#infocard h2 a { text-decoration: none; }
#infocard h3 {margin: .2em 0 0 0; border-bottom: 1px solid #D8DBDB;}
#infocard h3 a { text-decoration: none; }
#infocard .date {float: right; position: relative;}
#infocard .date p {margin: .2em .5em 0 0;}
#infocard table {margin: 0 0 0 .5em; width: 55em;}
#infocard th {font-weight: lighter; color: #666; padding: 0 0 0 0; text-align: left; background: #E6E9ED; border-bottom: 1px dashed #D8DBDB;}
#infocard td {font-weight: bold; padding: 0 0 0 0; text-align: left; background: #E6E9ED; border-bottom: 1px dashed #D8DBDB;}
#infocard .note { background: #E0E4E9; border: 1px dashed #D8DBDB; }
#infocard.even { background: #c1cfd6; }

#editform {
    position: relative;
    top: 15em;
    background: #E6E9ED;
}
#editform h2 {margin: .2em 0 0 0; border-bottom: 1px solid #D8DBDB; font-size: 17px}
#editform th {font-weight: lighter; color: #666; padding: 0 0 0 0; text-align: left; background: #E6E9ED; border-bottom: 1px dashed #D8DBDB;}
#editform td {font-weight: bold; padding: 0 0 0 0; text-align: left; background: #E6E9ED; border-bottom: 1px dashed #D8DBDB;}
div .editform {
    border: 1px solid black; 
    padding-left: .3em;
}

#cartdiv {
    background: #E6E9ED;
    border: 1px solid #D8DBDB;
    max-width: 60em;
    margin-bottom: .3em;
    padding: .1em .5em .2em .5em;
}
#cartdiv table {margin: 0 0 0 .5em; width: 59em;}
#cartdiv th {font-weight: lighter; color: #666; padding: 0 0 0 0; text-align: left; background: #E6E9ED; border-bottom: 1px dashed #D8DBDB;}
#cartdiv td {font-weight: bold; padding: 0 0 0 0; text-align: left; background: #E6E9ED; border-bottom: 1px dashed #D8DBDB;}
#cartdiv h2 {margin: .2em 0 0 0; border-bottom: 1px solid #D8DBDB; font-size: 17px}
