label {
    font-size: 90%;
    font-weight: bold;
    font-family: sans-serif;
}

textarea, input {
    color: #000000;
    background-color: #f0f5e5;
    border: 1px solid #3F4C18;
    padding: 0.2em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

p.field {
    text-align: right;
    margin-right: 12em;
}

span.description {
    text-align: right;
    display: block;
    font-size: 80%;
}

span.required {
    color: red;
    font-weight: bold;
}

p.checkbox label {
    font-size: 100%;
    display: inline;
    font-weight: normal;
}

p.checkbox input {
    background-color: #fdfdfd;
}

p.checkbox {
    float: none;
}

input.button {
    background-color: #fdfdfd;
}

p.error input {
    background-color: #fcaf3e;
}

span.help {
    display: inline-block;
}
span.error {
    color: #ef2929;
    font-weight: bold;
}

ul.errorlist {
    margin-left: 3em;
}

ul.errorlist li {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
    list-style-type: none;
}

/* New application form item alignment */
#new_application label, #login-form label, #contact_edit label {
    display: inline-block;
    clear: none;
    width: 200px;
    text-align: right;
    vertical-align: top;
    line-height: 19px;
    font-size: 120%;
    /* vertical-align: text-top; */
}

#new_application p, #login-form p, #contact_edit p {
    font-size: 80%;
    vertical-align: top;
    line-height: 19px;
}

#new_application input, #login-form input, #contact_edit input, textarea {
    margin: 0 0.4em;
    vertical-align: top;
    width: 200px;
}
