label {
    font-size: 90%;
    font-weight: bold;
    font-family: sans-serif;
}

textarea, input {
    color: #000000;
    background-color: #f0f5e5;
    border: 1px solid #3F4C18;
    padding: 0.2em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

fieldset {
    border: 0;
    margin: .5em 0 .5em 0;
    padding: 0;
}

fieldset legend {
    display: block;
    width: 410px;
    color: #284b5c;
    border-bottom: 1px solid #35637a;
}

p.field {
    text-align: right;
    margin-right: 12em;
}

span.description {
    text-align: right;
    display: block;
    font-size: 80%;
}

span.required {
    color: red;
    font-weight: bold;
}

p.checkbox label {
    font-size: 100%;
    display: inline;
    font-weight: normal;
}

p.checkbox input {
    background-color: #fdfdfd;
}

p.checkbox {
    float: none;
}

input.button {
    background-color: #fdfdfd;
}

p.error input {
    background-color: #fcaf3e;
}

span.help {
    display: inline-block;
    width: 230px;
}

span.error {
    color: #ef2929;
    font-weight: bold;
}

span.newline {
    display: block;
    margin-left: 420px;
}

ul.errorlist {
    margin-left: 3em;
}

ul.errorlist li {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
    list-style-type: none;
}

/* New application form item alignment */
#new_application {
    margin: 2em 0 0 .5em;
}

#new_application label, #login-form label, #entity_edit label {
    display: inline-block;
    clear: none;
    width: 200px;
    text-align: right;
    vertical-align: top;
    line-height: 19px;
    font-size: 120%;
    /* vertical-align: text-top; */
}

#new_application p, #login-form p, #entity_edit p {
    font-size: 80%;
    vertical-align: top;
    line-height: 19px;
}

#new_application fieldset p:nth-child(2) {
    padding-top: 5px;
}

#new_application p.introduction {
    font-size: 100%;
}

#new_application input, #login-form input, #entity_edit input, textarea {
    margin: 0 0.4em;
    vertical-align: top;
    width: 200px;
}

#new_application fieldset.wide {
    width: 650px;
}

#new_application fieldset.wide span.help {
    display: block;
    font-size: 120%;
    width: auto;
}

#new_application fieldset.wide legend, #new_application fieldset.wide textarea {
    width: 100%;
    margin: 0;
}

#new_application p.checkbox {
    line-height: auto;
}

#new_application p.checkbox input {
    width: auto;
    vertical-align: middle;
}

#new_application p.checkbox label {
    width: auto;
    text-align: left;
    vertical-align: middle;
}

input[type="submit"] {
    width: auto !important;
    padding-left: 2em;
    padding-right: 2em;
}