/* Yläotsikko */
h1.otsikko {
    text-transform: uppercase;
    font-variant: normal;

    margin-left: 2em;
    font-weight: lighter;
    display: inline;

    white-space: nowrap;
}

.otsikko_wrapper h1.otsikko {
    /* Jotkin vanhat sivut käyttävät samaa CSS:ää, niissä on erilainen
    HTML-markup. Siksi tämä koodi on käytössä vain jos wrapperi on paikallaan. */
    margin: 0px;
    display: block;
    position: absolute;
    bottom: 0px;
}

.otsikko_wrapper {
    position: absolute;
    left: 202px;
    top: 0px;
    height: 99px;
}

span.kapsi {
    color: #7e8c26;
    font-size: 30pt;
    margin-right: 0.1em;
}

span.ikry {
    color: #97aa1f;
    font-size: 20pt;
}

.logo {
    position: absolute;
    left: 8px;
    top: 8px;
    background-image: url("../images/logo.png");
    width: 190px;
    height: 190px;
}

/* Muuta */

html, body {
    background-color: #EEE;
    font-size: 14px;
    font-family: "Bitstream Vera Sans", "Helvetica", "Arial", sans-serif;
    color: black;
}

div.mainarea {
    margin-top: 99px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;

    max-width: 1280px;
    min-width: 450px;

    border: 1px solid #787877;
    background-color: #edf4d9; /* valikon taustaväri */
}

div.right {
    margin-left: 150px;
    min-height: 41em;

    border-left: 1px solid #c3cdac; /* valikon ja sisallon valissa */
    background-color: #FFFFFF;
}

div.content {
    padding: 15px;
    padding-top: 20px;
/*     border-left: 1px solid #dee4cf; */
}

div.alternative_formats {
    float: right;
    margin-top: 10px;
}

div.footer {
    clear: both;
    padding: 5px;

    border-top: 1px solid #DBDBD8;
    background-color: #eff4e0;
    color: #777;
    font-size: 15px;
}

div.footer .additional_copyrights {
    display: inline;
    margin-left: 5em;
}

div.footer a, div.footer a:visited {
    color: #777;
}

div.footer a:hover {
    color: #555;
}


/* Valikko */

div.menu {
    float: left;

    padding: 5px;
    padding-right: 5px;
    padding-top: 95px;
    margin: 0px;

    width: 135px;

    color: #111;
    overflow: auto;
}

div.menu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div.menu li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

div.menu ul ul {
    margin-left: 15px;
}

div.menu ul ul li {
    margin-bottom: 0px;
}

div.menu .active {
    background-image: url('nuolialas.gif');
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding-left: 10px;
}

div.menu .submenu {
    background-image: url('nuoli.gif');
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 2px;
    padding-left: 8px;
}

div.menu a.external {
    background-image: url('linkki.png');
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding-left: 10px;
}

div.menu a:hover.external {
    background-image: url('linkki-hover.png');
}

.currentpageitem {
    color: #111;
}

div.menu a, div.menu span {
    margin-left: 10px;
}

div.menu a span.currentpageitem {
    margin-left: 0px;
}

div.menu h3{
    color: #666;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.menu a, div.menu a:visited, div.contentmenu a, div.contentmenu a:visited {
    color: #56632b;
}

div.menu a, div.menu a:visited {
    text-decoration: none;
}

div.menu a:hover, div.contentmenu a:hover {
    color: #859942;
}

div.menu hr {
    border-bottom: 1px solid #c2c9ab;
}

li.contentmenu_category {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    padding-right: 1em;
    padding-bottom: 1em;
}


span.contentmenu_category {
    display: block;
    font-size: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 10px;
}

.contentmenu li {
    list-style-type: none;
}

div.toplistitems {
    margin-left: 2em;
    margin-top: 2px;
}

.contentmenu a {
    text-decoration: none;
}

.currentpageitem, span.active {
    text-decoration: underline;
}

li.spacebefore {
    margin-top: 0.5em;
}

/* contentmenu */

div.contentmenu {
    margin: 0px;
    padding: 5px;
    padding-left: 15px;

    background-color: #f4fae3;
    border-left: 1px solid #dee4cf;
    border-bottom: 1px solid #ccc;
}

/* SIKTEERI */

/* Lists */
ul#memberlist, ul#paymentlist, ul#billlist {
    list-style-type: none;
}

ul#memberlist > li:nth-child(even),
ul#paymentlist > li:nth-child(even),
ul#billlist > li:nth-child(even) {
    background: #e4e4e4;
}
ul#memberlist > li:nth-child(odd),
ul#paymentlist > li:nth-child(odd),
ul#billlist > li:nth-child(odd) {
    background: #eeeeee;
}

li.memberlist_item:hover,
li.paymentlist_item:hover,
li.billlist_item:hover {
    background: white;
}


ul#memberlist > li:hover,
ul#paymentlist > li:hover,
ul#billlist > li:hover {
    background: white;
}


.membership_details {
    margin-top: 1.5em;
}

.membership_details, .contact_details, .membership_events {
    width: 95%;
    background: #f1f1f1;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 0.2em;
    margin: 0.3em;
}
a.member_detail_title {
    text-decoration: underline;
}

a.member_detail_title:hover {
    text-decoration: none;
    background: silver;
}

/* membership edit / event log */
table.event_log td {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

tr.header_row > td {
    background: #bbb;
    font-weight: bold;
}

/* application list */
.application_is_newFalse {
    color: #00bb00;
    font-weight: bold;
}
.application_is_newTrue {
    color: #ee0000;
    font-weight: bold;
}

/* application details */
div.applicationdetails, div.memberdetails{
    background: #E6E9ED;
    border-left: 1px dashed black;
    padding: 1ex;
    float: right;
    width: 25em;
    margin: 1ex;
}
div.applicationlist, div.memberlist {
    max-width: 60em;
}

.application_email_forward {
    display: block;
    clear: right;
}

li.list_header {
    padding-top: 0.2em;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

li.list_header a {
    text-decoration: none;
    text-align: center;
    color: #000;
}

/* generic list items */
li.list_item {
    padding: 0.5em;
    margin: 0.1em;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

li.list_item span.member_id, li.list_header span.member_id {
    display: inline-block;
    width: 5em;
    font-weight: bold;
}

li.list_item span.name, li.list_header span.name {
    display: inline-block;
    width: 12em;
}

li.list_header a {
    font-weight: bold;
}

li.list_item span.status, li.list_header span.status {
    display: inline-block;
    width: 8em;
}

li.list_item a.cart_function, li.list_header span.cart_function {
    display: inline-block;
    margin-left: 1em;
}

li.list_item span.sum, li.list_header span.sum {
    display: inline-block;
    width: 16em;
}

li.list_item span.reference, li.list_header span.reference {
    font-family: monospace;
}

li.list_header span.reference {
    text-align: center;
    /* don't use monospace on header */
    font-family: inherit;
}

li.list_item span.due, li.list_header span.due {
    display: inline-block;
    width: 12em;
}

li.list_item span.cycle, li.list_header span.cycle {
    display: inline-block;
    padding-right: 1em;
    width: 10em;
}

li.list_item span.paid, li.list_header span.paid {
    display: inline-block;
    width: 10em;
}

#pageLogin
{
    font-size: 10px;
    font-family: verdana;
    text-align: right;
}

li.duplicate {
    border: 2px solid #bb0000;
}
