{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Kapsin jäsentietojärjestelmä :: {{ title }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-type">
    <meta content="Kapsi Internet-käyttäjät ry" name="Author">
    <link href="http://www.kapsi.fi/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <style media="screen" type="text/css">
        @import "{% static 'css/screen.css' %}";
        @import "{% static 'css/content.css' %}";
        @import "{% static 'css/form.css' %}";{% if user.is_authenticated %}
        @import "{% static 'css/blue.css' %}";{% endif %}
        {% if not is_production %}@import "{% static 'css/devel.css' %}";
        {% endif %}
    </style>
    <script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/django-csrf.js' %}"></script>
    <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <img src="{% static "images/logo.png" %}" alt="Kapsin logo" style="display: none" />
    <div class="otsikko_wrapper">
    <h1 class="otsikko">
      <span class="kapsi">Kapsi</span> <span class="ikry">Internet-käyttäjät ry</span>
    </h1>
    </div>
    <div class="mainarea">
     <div class="menu">
       {% block menu %}{% if user.is_authenticated %}
       {% include "menu.html" %}{% else %}
       <ul>
         <li><span class="currentpageitem">Jäsenhallinta</span></li>
         <li><hr></li>
         <li><a href="http://www.kapsi.fi/">www.kapsi.fi</a></li>
       </ul>{% endif %}
       {% endblock %}
     </div>
     <div class="right">
      <div class="content">
       <div class="logo"></div> <!-- Logo tässä jotta hiirellä valinta toimii oikein -->
	{% if messages %}
	<ul class="messages">
	  {% for message in messages %}
	  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
    {% block content %}{% endblock %}
       <div style="display:block; clear:both"></div>
      </div>
     </div>
     {% block footer %}
     <div class="footer">
       Copyright © Kapsi Internet-käyttäjät ry 2006–2014 ☕
       {% if user.is_authenticated %}
     <div style="float: right; position: relative; bottom: 34px">
       <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!">
       <img src="{% static 'images/djangopony.png' %}" width="210" height="65" alt="pony powered"></a>
       {% endif %}
     </div></div>
     {% endblock %}
  </body>
</html>
