{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Sikteeri :: {{ title }}</title>
    <style type="text/css">
        #pageLogin
        {
            font-size: 10px;
            font-family: verdana;
            text-align: right;
        }
    </style>
    <style media="screen" type="text/css">
        @import "{{ MEDIA_URL }}/static/css/screen.css";
        @import "{{ MEDIA_URL }}/static/css/content.css";
        @import "{{ MEDIA_URL }}/static/css/form.css";
    </style>
    <script type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/membership/static/js/member_list.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <img class="logo" src="{{ MEDIA_URL }}/static/images/logo.png" alt="Kapsin logo">
    <h1 class="otsikko">
    <span class="kapsi">Kapsi</span> <span class="ikry">Internet-käyttäjät ry</span>
    </h1>
    <div class="mainarea">
     <div class="menu">
       {% block menu %}
       {% include "menu.html" %}
       {% endblock %}
     </div>
     <div class="right">
      <div class="content">
	{% if messages %}
	<ul class="messages">
	  {% for message in messages %}
	  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
    {% block content %}{% endblock %}
       <div style="display:block; clear:both"></div>
      </div>
     </div>
     {% block footer %}
     <div class="footer">Copyright © Kapsi Internet-käyttäjät ry 2006–2010</div>
     </div>
     {% endblock %}
</body>
</html>
